.card {
  display: flex;
  color: red;
  flex-direction: column;
  width: 60%;
  margin: 0 auto; /* Add this line to center the card */
}

.card .top_container {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.card .top_container .text_content {
  display: flex;
  flex-grow: 1;
  /* Add your styles for text_content here */
}

.card .image {
  max-width: 39.41325rem;
  max-height: 27.23075rem;
  margin: 0 auto; /* Add this line to center the image horizontally */
  width: 100%; /* Add this line to make the image responsive */
  height: auto; /* Add this line to make the image responsive */
}
  

