/* Import Global Styles */
@import url("/styles/global.css");

/* Rest of the CSS code for the file */

.outterContainer {
    display:flex;
    background-color: red;
    color: white; /* Set the text color to white for better contrast */
    max-width: var(--widest-container-width); 
    width: var(--widest-container-width);
    margin: 0 auto; /* Optional: Center the box on the page */
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    border-radius: var(--boarder-radius); 
  }
  