.useCaseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px 20px; */
}

.imageContainer {
    /* max-width: 60.875rem; */
    /* This next section is a hack for safari rendering the images properly */
    width: var(--widest-container-width);
    height: 0.0625rem;
    /* border-radius: var(--boarder-radius); */
    overflow: hidden;
    position: relative;
    /* Above section is a hack for safari rendering the images properly */
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Card styles */
.bulletContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    width: var(--innerTxtWidth, 51.25rem);
    margin-bottom: var(--margin-2);
    justify-content: space-around;
}

.cardBody2{
    margin-bottom: var(--margin-1p5);
    color: var(--light-text, #D5DCF4);
    width: var(--innerTxtWidth, 51.25rem);
}

.imageWrapper2{
    width: var(--innerPicWidth, 51rem);
    height: auto;  /* Height is set to auto to maintain aspect ratio */
    max-height: 100%; 
    border-radius: var(--boarder-radius); 
    overflow: hidden;
}
/* END Card styles END*/

/* speaker mode icon section */
.speakerModsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: var(--widest-container-width, 51.25rem);
    margin-top: var(--margin-1p5);
    margin-bottom: var(--margin-1p5);
}

.sModsPicContainer{
    width: 6rem;
}

.middleModContainner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modeTitle{
    margin-top: var(--margin-bottom-1);
}

.modeBody{
    margin-top: .5rem;
    text-align: center;
}
/* END speaker mode icon section END */

.sectionSubheading{
    color: var(--light-text, #D5DCF4);
    font-family: var(--round, SF Pro Rounded, sans-serif);
    font-size: var(--body-text, 1.44rem);
    font-weight: 400;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    text-align: left;
    width: var(--widest-container-width);
}

/* .sectionSubheadingContainer{
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-bottom-1);
    width: var(--widest-container-width);
} */

/* Indents and margins */
.indent{
    margin-left: 1rem;
}

.marginBottom{
    margin-bottom: 1rem;
    display: inline-block;
}

.marginBottom2{
    margin-bottom: var(--margin-2);
}
/* END Indents and margins END */

@media (max-width: 1030px) {
    .bulletContainer {
        justify-content: space-between;
        gap: 2rem;
        /* width:90%; */
        font-size: 1rem;
    }
}

@media (max-width: 714px) {
    .bulletContainer {
        flex-direction: column;
        font-size: var(--body-text);
        margin-left: 1rem;
    }
    .speakerModsWrapper{
        flex-direction: column;
        row-gap: var(--margin-2);
    }
  }