/* Import Global Styles */
@import url("/styles/global.css");

.useCaseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px 20px; */
}

.imageContainer {
    /* max-width: 60.875rem; */
    /* This next section is a hack for safari rendering the images properly */
    width: var(--widest-container-width);
    height: 0.0625rem;
    /* border-radius: var(--boarder-radius); */
    overflow: hidden;
    position: relative;
    /* Above section is a hack for safari rendering the images properly */
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* .bodyText {
    font-size: var(--body-text);
    color: var(--light-text);
    color: var(--subheading-light-text, #A7B1CF);
    font-family: var(--font-fam-body, SF Pro Text, sans-serif);
    font-weight: 300 ;
    line-height: 150%; /* 2.25rem 
    margin-top: 2.5rem;
}
 */
