@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  font-family: SF Pro Rounded, sans-serif, -apple-system, sans-serif;
  /* font-size: 16px; */
}

:root {
  /* --Title-Light-Text-Gradient: -webkit-linear-gradient(180deg, #CDD4EB 0%, #F7F9FF 51.04%, #B1B7CC 100%); */
  --Title-Gradient-2: linear-gradient(180deg, #A7B2D9 30%, #F7F9FF 51.04%, #939DBF 70%);
  --main-bg: #172C5F;
  --light-text: #D5DCF4;
  --subheading-light-text: #A7B1CF;
  --Light-blue: #D5DCF4;
  background-color: var(--main-bg); 
  --widest-container-width: 58rem;
  /* text sizes */
  --body-text: 1.2rem;
  --pull-quote-txt: 1.8rem;
  --subheading-txt: 1.44rem;
  --huge-text: 6.25rem;
  --font-fam-body: SF Pro Text,sans-serif;
  --font-fam-round: SF Pro Rounded;
  --margin-bottom-1: 2rem;
  --boarder-radius: 15px;
}

a {
  color: #e300f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1030px) {
  :root {
    --widest-container-width: 30rem;
  }
}

@media (max-width: 714px) {
  :root {
    --widest-container-width: 30rem;
  }
}