/* body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
} */

.heroSection {
  /* max-width: 100%;
  margin: 0; 
  padding: 0;*/
  background-image: url('/images/lightCirlce_mainPage.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  position: relative;
  color: red; /* Set font color to white */
  text-align: center; /* Center the text */
}

/* Gradient overlay */
.heroSection::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #172C5F 4.17%, rgba(23, 44, 95, 0.69) 53.65%, rgba(23, 44, 95, 0.00) 100%);
  z-index: 1;
}

.heroSection h1 {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 6.875rem; /* 110% */
  letter-spacing: -0.125rem;
  background: var(--Title-Light-Text-Gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative; /* !!! investigate !!! !!! investigate !!! !!! investigate !!! */
  z-index: 2;
}

.heroSection h1 span {
  background: var(--Title-Light-Text-Gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
