.heroSection {
  background-color: var(--main-bg);
  background-image: url('/images/lightCirlce_mainPage.png');
  background-size: cover;
  background-position: center -60vh;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  padding-top:6rem;
  margin: 0;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
  min-height: 115vh;
  margin-top: 20vh;
}

/* Gradient overlay */
.heroSection::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #172C5F 4.17%, rgba(23, 44, 95, 0.69) 53.65%, rgba(23, 44, 95, 0.00) 100%);
  z-index: 1;
}

.heroSection h1 span {
  background: var(--Title-Light-Text-Gradient);
  font-family: 'MuseoModerno', sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}

.EngineersLens {
  background: var(--Title-Light-Text-Gradient);
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 6.875rem; /* 110% */
  letter-spacing: -0.1rem;
  display: inline;
}

.designerVision {
  background: var(--Title-Light-Text-Gradient);
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.875rem;
  letter-spacing: -0.1rem;
  display: inline;
}

.subheadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
}

.heroSection h2 {
  color: var(--light-text, #D5DCF4);
  font-family: SF Pro Text;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
  text-transform: lowercase;
  position: relative; 
  z-index: 2;
}

@media (max-width: 1030px) {
  .EngineersLens {
    font-size: 5rem;
    line-height: 100%;
  }
  .designerVision {
    font-size: 5rem;
    line-height: 100%;
  }

  .heroSection 
  {
    background-position: center -10vh;
    min-height: 70vh;
    margin-top: 0vh;
    padding-top: 10rem;
  }

  .heroSection h2 {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    }
  }

@media (max-width: 714px) {
  .EngineersLens {
    font-size: 3rem;
    line-height: 100%;
  }
  .designerVision {
    font-size: 3rem;
    line-height: 100%;
  }

  .heroSection 
  {
    background-position: center -10vh;
    min-height: 75vh;
    margin-top: 5vh;
  }

  .heroSection h2 {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
  }
